<div class="container">
    <div class="chat-container">
        <ul id="messages"></ul>

        <form id="form" action="">
        <input id="input" autocomplete="off" placeholder="Digite sua mensagem..." />
        <button id="button">Enviar</button>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io();
const form = document.getElementById('form');
const input = document.getElementById('input');
const messages = document.getElementById('messages');

input.addEventListener('focus', () => {
  input.scrollIntoView({ behavior: 'smooth', block: 'end' });
});


let mySocketId;

// Quando o cliente se conecta, armazena o id
socket.on('connect', () => {
  mySocketId = socket.id;
});

// Envia mensagem para o servidor
form.addEventListener('submit', (event) => {
  event.preventDefault();

  if (input.value) {
    socket.emit('chat message', { id: mySocketId, message: input.value });
    input.value = '';
  }
});

// Recebe mensagens do servidor
socket.on('chat message', (msg) => {
  const item = document.createElement('li');
  item.textContent = msg.message;

  // Verifica se a mensagem foi enviada pelo cliente ou por outro usuário
  if (msg.id === mySocketId) {
    item.classList.add('sent');
  } else {
    item.classList.add('received');
  }

  messages.appendChild(item);
  messages.scrollTop = messages.scrollHeight;
});
</script>