* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
  }
  
  .container {
    width: 400px;
    height: 100vh;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.chat-container {
    margin-top: auto;
    margin-bottom: 10px;
}

#messages {
  list-style: none;
  padding: 20px;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#messages li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  word-wrap: break-word;
  max-width: 60%;
}

#messages li.sent {
  background-color: #0084ff;
  color: white;
  align-self: flex-end;
  text-align: right;
}

#messages li.received {
  background-color: #f1f1f1;
  color: black;
  align-self: flex-start;
  text-align: left;
}
  
  #form {
    display: flex;
    padding: 10px;
    background-color: #f0f2f5;
    margin-bottom: 0;
  }
  
  #input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #e9ecef;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
  }
  
  #button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #19191a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #button:hover {
    background-color: #1b1b1b;
  }
  